{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pets/style.css' %}">
    <title>Bem-vindo ao VETLAB</title>
</head>
<body>
    <main class="welcome-container">
        
        <div class="welcome-text">
            <div class="line1">VET</div>
            
            <div class="line2">LAB</div>
            
            <div class="line3-wrapper">
                <div class="line3">AO</div>
                <div class="star">⭐</div>
            </div>
        </div>

        <a href="{% url 'pet_list' %}" class="start-button">Iniciar</a>

    </main>
</body>
</html>