{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Lista de Pets</title>
</head>
<body>
    <main class="list-container">
        {% if messages %}
            <div class="messages standalone-messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="main-actions">
            <a href="{% url 'pet_create' %}" class="add-pet-button">Adicionar Novo Pet</a>
            <a href="{% url 'evento_selecionar_pet' %}" class="add-event-button">Cadastrar Evento</a>
            </div>

        <div class="pet-list">
            {% for pet in pets %}
                <div class="pet-item">
                    <div class="pet-info">
                        <span class="pet-name">{{ pet.nome }}</span>
                        <span class="pet-species">{{ pet.especie }}</span>
                    </div>

                    <div class="pet-actions">
                        <a href="{% url 'pet_visao_geral' pet.pk %}" class="action-btn overview-btn">Visão Geral</a>
                        <a href="{% url 'shop_list' pet.pk %}" class="action-btn" style="background-color: #4CAF50;">🛒 Compras</a>
                        <a href="{% url 'meta_list' pet.pk %}" class="action-btn metas-btn">Metas</a>
                        <a href="{% url 'evento_list' pet.pk %}" class="action-btn eventos-btn">Eventos</a>
                        <a href="{% url 'pet_edit' pet.pk %}" class="edit-btn">Editar</a>
                        <a href="{% url 'pet_delete' pet.pk %}" class="delete-btn">Excluir</a>
                    </div>
                </div>
            {% empty %}
                <div class="pet-item-empty">
                    <p>Nenhum pet cadastrado ainda.</p>
                </div>
            {% endfor %}
        </div>

        <a class="back-link" href="{% url 'home' %}">Página Inicial</a>
    </main>
</body>
</html>