# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Django stuff
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3

# Migrations (apenas se quiser ignorar — normalmente mantemos elas versionadas)
# */migrations/

# IDEs and editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db
